@{
    Layout = "_Layout";
}
@model ProfileVM
<div class="home-description">
<pre>
Nama    : @Model.Nama
NIK     : @Model.Nik
Email   : @Model.Email
Divisi  : @Model.DivisiOrDepartemen
Jabatan : @Model.Jabatan
</pre>
</div>